h3 {
    background-color: blue;
}

@media only screen and (min-width:800px) {
    h3 {
        background-color: red;
    }

}

@media only screen and (min-width:1200px) {
    h3 {
        background-color: fuchsia;
    }

}

