* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 300px;
    border: 1px solid black;
    background-color: red;
}


h1{
    background-color:white;
}

h2{
    background-color:yellow;
}

h3{
    background-color:blue;
    display:none;
}

@media only screen and  (min-width:'800px'){
    h2{
        display:none;
    }
    h3{
        display:block;
    }
    .container{
        background-color: green;
    }
}