*{
    box-sizing: border-box;
    margin:0;
}


a,
a:visited,
a:active {
  color:black;
  text-decoration: none;
}

a:hover{
    cursor:pointer;


}


.container{
    border:1px solid black;
    width:80%;
    margin:auto;
}


.up-del-sito{
    border:1px solid black;
    height:60px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
   

}

.fa-angle-up{
    display:none;
}

.primo-menu li:nth-child(2):hover  .fa-angle-down{
    display:none;
}

.primo-menu li:nth-child(2):hover  .fa-angle-up{
    display:inline;
}


.primo-menu{
    display:flex;
    gap:5px;
    list-style: none;
    position:relative;

}

.primo-sottomenu{
    display:none;
}


.primo-menu li:nth-child(2):hover .primo-sottomenu{
    display:flex;
    flex-direction: column;
    position:absolute;

}

.secondo-menu{
    display:flex;
    gap:10px;
    list-style: none;
}


.terzo-menu{
    display:flex;
    list-style:none;
}