
*{
    box-sizing:border-box;
    margin:0;
}


.container{
    border:1px solid black;
    width:80%;
    margin:auto;
}


.header{



}

.lato-sx{
    display:flex;
    justify-content:flex-start;

}

.lato-dx{
    display:flex;
    justify-content:flex-end;

}