

.container {
    border: 2px solid red;
    width: 85%;
    margin: auto;
}

header {}

nav {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 0px;
    background-color: yellow;
    font-size: 30px;


}


.logo p {
    font-weight: bold;
}


.logo {
    display: flex;
    border:1px solid black;

}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-top: 35px;
    margin-right: 170px;
    font-size:20px;
    font-weight:bold;
    border:1px solid black;
}

.menu span {
    cursor: pointer;

}

.menu span:hover {
    color: blue;
    text-decoration: underline;
    color: blue;
    text-decoration-color: blue;
}

.pulsanti{
    font-size:50px;
    border:1px solid black;
    
}

.pulsanti button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 10px;
}