* {
    box-sizing: border-box;
    margin: 0;
}



.container {

    border: 1px solid black;
    width: 75%;
    margin: auto;

}



.up {
    width: 100%;
    border: 1px solid red;
    height: 40px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;


}


.spedizione{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    gap:15px;
}


.right-bar ul{
    display:flex;
    flex-direction:row;
}

nav {
    width: 100%;
    border: 1px solid blue;
    height: 80px;
    display:flex;
}