.container{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    border:1px solid red;
    width:1000px;
    height:500px;
}

.item-special{
    background-color:red;
}


.item {
    border:1px solid blue;
    background-color:yellow;
    color:blue;
}




