.container{
    border:1px solid red;
    display: flex;
    height:550px;
    flex-direction:row;
    justify-content: space-between;
   
}

.sidebar{
    border:1px solid black;
    background-color:blueviolet;
    white-space:nowrap;
}



.arsenal{
    border:1px solid black;
    background-color:red;
    width:600px;
    margin:0;
}

