* {
    box-sizing: border-box;
    margin: 0;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.fa-angle-up{
    display:none !important;
}


.container {
    border: 1px solid blue;
    width: 80%;
    margin: auto;
}




.menu-sopra {
    border: 1px solid black;
    padding: 25px 40px;
}

.menu-sopra ul, nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.paese:hover .fa-angle-down, .assistenza:hover .fa-angle-down {
    display:none !important;
}

.paese:hover .fa-angle-up, .assistenza:hover .fa-angle-up {
    display:inline !important;
}


.menu-sopra ul li {
    display: flex;
    flex-direction: row;
    gap: 10px;
}





nav{
    border: 1px solid black;
    padding: 35px 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:20px;
}



.first-ul, .second-ul, .third-ul{
    display:flex;
    gap:20px;
}




.uomo:hover .fa-angle-down{
    display:none !important;
}

.uomo:hover .fa-angle-up{
    display:inline-block !important;
}


.uomo{
    position:relative;
}

.uomo-submenu{
    position:absolute;
}
